@model practice_C_.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Alias, new { @class = "control-label" })
                    @Html.EditorFor(m => m.Alias, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Alias, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId, new { @class = "control-label" })
                    @Html.EditorFor(m => m.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.ParentId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CreatedDate, new { @class = "control-label" })
                    @Html.EditorFor(m => m.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.CreatedDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Order, new { @class = "control-label" })
                    @Html.EditorFor(m => m.Order, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Order, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Status)
                    @Html.EditorFor(m => m.Status)
                    @Html.ValidationMessageFor(m => m.Status, "")
                </div>

                <p>
                    <input type="submit" value="Create"/>
                </p>
            </form>
        </div>
    </div>
}
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
