
@{
    ViewData["Title"] = "_Layout";
}

<h1>_Layout</h1>

<!DOCTYPE html>
<html lang="en">

<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <!--====== Title ======-->
    <title>Admin Dashboard</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="../../Assets/Admin/images/icons/favicon.png" type="image/png">


    <!--====== Google Fonts ======-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <!--====== Material Icons ======-->
    <link rel="stylesheet" href="../../Assets/Admin/iconfont/material-icons.css">

    <!-- dataTables.bootstrap4.min css-->
    <link href="../../Assets/Admin/css/dataTables.bootstrap4.min.css" rel="stylesheet" media="screen">

    <!-- Chart.min css-->
    <link href="../../Assets/Admin/css/Chart.min.css" rel="stylesheet" media="screen">

    <!-- animate css-->
    <link href="../../Assets/Admin/css/animate.css" rel="stylesheet" media="screen">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../../Assets/Admin/css/bootstrap.min.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../../Assets/Admin/css/style.css">
    <link rel="stylesheet" href="../../Assets/Admin/css/sidebar.css">
	   <!--====== Responsive css ======-->
    <link rel="stylesheet" href="../../Assets/Admin/css/responsive.css">

     <!--====== CkEditors js ======-->
    <link rel="stylesheet" href="../../Assets/Admin/js/ckeditor.js">

  

</head>
<body>

<!-- Prealoder -->
<div class="spinner_body">
   <div class="spinner"></div>  
</div>

<!-- Prealoder -->


<!--====== Start Header Section======-->
<header>
    <div class="header">

        <div>
             @Html.Partial("_Navigation")
        </div>
    
    <!--   For Toggle Mobile Nav -->
     <div class="toggle-user-menu" id = "toggle-user-menu">
        <ul>
          <li><a href="#"><div class="user-photo"><img src="https://dw3i9sxi97owk.cloudfront.net/uploads/thumbs/db9c4e1327eb8fe5e9395a4b04e1ea4a_70x70.jpg" alt=""></div>admin@admin.com</a></li>
          <li><a href="">
            <i class="material-icons mr-2">
                    supervisor_account
                    </i>
                  Account Settings
                </a></li>
          <li><a href=""><i class="material-icons mr-2">exit_to_app</i>Logout</a></li>

        </ul>
      </div>
    <!--   For Toggle Mobile Nav -->
    </div>  
</header>
<!--====== End Header Section======-->


<!--====== Start Left Sidebar Section======-->
  <section id="left-sidebar-area">
  <!--   Left Sidebar  -->
        <div id="left-sidebar-section">

          
            <aside>
              <div class="left-sidebar" id="wrapper-sidebar">
                <ul>
                  <li><a href="/Admin/"><i class="material-icons">home</i>Dashboard</a></li>
                  

                   <!-- Ui Elements -->
                  <li><a  data-toggle="collapse" class="dropdown-item-list"  href="#dropdown-elements"><i class="material-icons">collections</i>News<span class="collapsed float-right"><i class="material-icons">add</i> </span>
              <span class="expanded float-right"><i class="material-icons">remove</i> </span></a>
                    <!-- Dropdown Menu Start-->
                    <div id="dropdown-elements" class="panel-collapse collapse">
                      <div class="sub-dropdown">
                        <ul class="sub-list">
                          <li><a href="/Category/Index">News</a></li>
                          <li><a href="/Content/Index">List News</a></li>
                        </ul>
                      </div>
                    </div>
                     <!-- Dropdown Menu End-->
                  </li>

                   <!-- Ui Charts -->
                  <li><a  data-toggle="collapse" class="dropdown-item-list" href="#dropdown-charts"><i class="material-icons">pie_chart</i>Items<span class="collapsed float-right"><i class="material-icons">add</i> </span>
              <span class="expanded float-right"><i class="material-icons">remove</i> </span></a>
                    <!-- Dropdown Menu Start-->
                    <div id="dropdown-charts" class="panel-collapse collapse">
                      <div class="sub-dropdown">
                        <ul class="sub-list">
                            <li><a href="/Admin/ProductCategory/Index">List Items</a></li>
                            <li><a href="/Admin/Product/Index">Accordions</a></li>
                        </ul>
                      </div>
                    </div>
                     <!-- Dropdown Menu End-->
                  </li>

                   <!--Forms -->
                  <li><a  data-toggle="collapse"  class="dropdown-item-list" href="#dropdown-forms"><i class="material-icons">format_align_center</i>Systems<span class="collapsed float-right"><i class="material-icons">add</i> </span>
              <span class="expanded float-right"><i class="material-icons">remove</i> </span></a>
                    <!-- Dropdown Menu Start-->
                    <div id="dropdown-forms" class="panel-collapse collapse">
                      <div class="sub-dropdown">
                        <ul class="sub-list">
                          <li><a href="/Admin/UserGroup/Index">user group</a></li>
                          <li><a href="/Admin/User/Index">User</a></li>
                        </ul>
                      </div>
                    </div>
                     <!-- Dropdown Menu End-->
                  </li>

                   <!--Tables -->
                  <li><a  data-toggle="collapse" class="dropdown-item-list"  href="#dropdown-tables"><i class="material-icons">equalizer</i>General Management<span class="collapsed float-right"><i class="material-icons">add</i> </span>
              <span class="expanded float-right"><i class="material-icons">remove</i> </span></a>
                    <!-- Dropdown Menu Start-->
                    <div id="dropdown-tables" class="panel-collapse collapse">
                      <div class="sub-dropdown">
                        <ul class="sub-list">
                          <li><a href="/Admin/About/Index">Introduce</a></li>
                          <li><a href="/Admin/Footer/Index">Footer</a></li>
                          <li><a href="/Admin/Footer/Index">Menu</a></li>
                          <li><a href="/Admin/Footer/Index">Slide</a></li>
                          <li><a href="/AdminFooter/Index">feedback</a></li>
                        </ul>
                      </div>
                    </div>

                   
                  </ul>
              </div>  
            </aside>
        </div>
  <!--   Left Sidebar  -->
  </section>
<!--====== End Left Sidebar Section======-->


<!--====== Start Main Wrapper Section======-->
<section class="d-flex" id="wrapper">
    <div class="page-content-wrapper">
        <div class="page-title">
            <div class="title_left">
                <h3>@RenderSection("header", required: true)</h3>
                @RenderBody()
            </div>
        </div>
    </div> 

</section>

<!--====== End Main Wrapper Section======-->




    <!--====== JQuery from CDN ======-->
    <script src="../../Assets/Admin/js/jquery.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../../Assets/Admin/js/bootstrap.min.js"></script>
    <script src="../../Assets/Admin/js/popper.min.js"></script>

    <!--====== dataTables js ======-->
    <script src="../../Assets/Admin/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../Assets/Admin/js/jquery.dataTables.min.js"></script>

    <!--====== Chart.min js ======-->
    <script src="../../Assets/Admin/js/Chart.min.js"></script>
    <script src="../../Assets/Admin/js/Chart.bundle.min.js"></script>
    <script src="../../Assets/Admin/js/chartfunction.js"></script>

    <script src="@Url.Content("~/Assets/Admin/js/plugins/ckfinder/ckfinder.js")"></script>

    <!--====== wow.min js ======-->
    <script src="../../Assets/Admin/js/wow.min.js"></script>
    <!--====== Main js ======-->
    <script src="../../Assets/Admin/js/script.js"></script>

    <script>
        var color = Chart.helpers.color;
        function createConfig(colorName) {
            return {
                type: 'line',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'My First dataset',
                        data: [
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor()
                        ],
                        backgroundColor: color(window.chartColors[colorName]).alpha(0.5).rgbString(),
                        borderColor: window.chartColors[colorName],
                        borderWidth: 1,
                        pointStyle: 'rectRot',
                        pointRadius: 5,
                        pointBorderColor: 'rgb(0, 0, 0)'
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        labels: {
                            usePointStyle: false
                        }
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Month'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Normal Legend'
                    }
                }
            };
        }

        function createPointStyleConfig(colorName) {
            var config = createConfig(colorName);
            config.options.legend.labels.usePointStyle = true;
            config.options.title.text = 'Point Style Legend';
            return config;
        }

        window.onload = function() {
            [{
                id: 'chart-legend-normal',
                config: createConfig('red')
            }, {
                id: 'chart-legend-pointstyle',
                config: createPointStyleConfig('blue')
            }].forEach(function(details) {
                var ctx = document.getElementById(details.id).getContext('2d');
                new Chart(ctx, details.config);
            });
        };
    </script>

    @RenderSection("jsFooter", required: false)
</body>
</html>